:root {
  /*
      ========================================
      Colors
      ========================================
  */
  --primary: #fff;
  --primary-dark: #eee;
  --secondary: #000;
  --secondary-dark: #000;
  --light: hsl(0, 0%, 70%);
  --light-dark: hsl(0, 0%, 48%);
  --accent-color: #0057ff;
  --accent-color-light: #f5f8ff;

  --white: #fff;
  --black: hsl(0, 0%, 0%);
  --shadow-color: rgba(0, 0, 0, 0.16);

  --danger-color: rgb(223, 30, 30);
  --alert-color: lightcoral;
  --notice-color: lightgreen;
  --icons-color: hsl(0, 0%, 48%);
  /*
      ========================================
      Text Colors
      ========================================
  */
  --paragraph-color: hsl(0, 0%, 48%);
  --button-text-color: #fff;
  --title-text-color: #000;
  --links-text-color: #0057ff;
  --navbar-item-text-color: #000;
  --preview-card-text: #000;
  --create-card-link: #fff;
  /*
      ========================================
      Backgrounds colors
      ========================================
  */
  --bg-color: #fff;
  --main-bg-color: #eee;
}

$break-point-tablet: 1024px;
$break-point-mobile: 640px;
