<div class="card">
    <% if user_signed_in? %>
            <div>
                <%= link_to "Create a Project", new_project_path, class: "basic_button" %>
            </div>
    <% end %>  
    <br>
    <p>Get feedback, views, and appreciations. Public Projects can be featured by our curators.</p>
</div>