<div class="create_project_card">
  <% if user_signed_in? %>
    <div>
      <%= link_to "Create a Project", new_project_path, class: "basic_button" %>
    </div>
  <% end %>  
   
  <p>Show your talent to the world</p>
</div>