/*
  ========================================
  Default values
  ========================================
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

* {
    text-decoration: none;
}

/*
  ========================================
  Body
  ========================================
*/

body {
    font-family: "Roboto", sans-serif;
    background-color: $main-bg-color;
    color: $paragraph-color;
}
