.card {
    display: flex;
    width: 80%;
    height: fit-content;
    padding: 35px 20px;
    background-color: $bg-color;
    border-radius: 6px;
    margin: auto;
    min-width: fit-content;
    align-items: center;
    flex-direction: column;
}

.project_card{
    height: 200px;
    background-color: $bg-color;
    border-radius: 6px;
}