.notice {
    background-color: var(--notice-color);
}

.alert {
    background-color: var(--alert-color);
}

.error_message_container {
    padding: 20px;
    margin: 15px 0;
    border: 2px solid var(--danger-color);
}
