.main_navbar {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--bg-color);

    li {
      float: left;

      &:last-child {
        float: right;
      }

      a {
        display: block;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

        &:hover {
          border-bottom: 2px solid var(--secondary);
        }
      }
    }
  }
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: var(--navbar-item-text-color);
}

.navbar_last_child {
  float: right;
}

.navbar_profile_section{
  margin: 20px;
}