/*
  ========================================
  Buttons
  ========================================
*/

%button {
  width: fit-content;
  font-weight: 700;
  border-radius: 50px;
  font-size: 16px;
  padding: 7px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
}

.basic_button {
  @extend %button;
  color: $white;
  background: $accent_color;
  margin: 10px 5px;

  &.danger{
    background: $danger-color;
  }

}

.profile_section_button {
  @extend %button;
  color: $white;
  background: $secondary;
}
