@use "../variables" as *;

@mixin project_show_card_tablet {
    @media screen and (max-width: $break-point-tablet) {
        max-width: 90%;
    }
}

@mixin project_show_card_mobile {
    @media screen and (max-width: $break-point-mobile) {
        max-width: 100%;
    }
}

@mixin cards_grid_rows_mobile {
    grid-template-rows: (2, 1fr);
}

@mixin display_cards_grid_tablet {
    @media screen and (max-width: $break-point-tablet) {
        @include display_cards_grid_tablet;
        grid-template-columns: 1fr 1fr;
    }
}

@mixin display_cards_grid_mobile {
    @media screen and (max-width: $break-point-mobile) {
        @include display_cards_grid_tablet;
        grid-template-columns: 1fr;
    }
}

@mixin display_block {
    @media screen and (max-width: $break-point-tablet) {
        display: block;
    }
}

@mixin margin_zero {
    @media screen and (max-width: $break-point-tablet) {
        margin: 0;
    }
}
