.flex_row {
    display: flex;
    flex-direction: row;
    align-items: center;

    div {
        padding: 10px;
    }
}

.last_child {
    margin-left: auto;
}

.full_width {
    width: 100%;

    &.center {
        display: flex;
        justify-content: center;
    }
}

.flex_direction_rows_reverse {
    display: flex;
    flex-direction: row-reverse;
}
